
.header-container {
  display: flex;
  flex-direction:row;
  position: static;
  width: 100%;  
}

.header-home {
padding-left: 10vw;  
}


.header-examples {
  
  border-left: 1px solid black;
}


.header-contact {
  
  border-left: 1px solid black;
}


.header-blog {
  right: 90%; 
  border-left: 1px solid black;
}
