
.header-container  {
  display: flex;
  flex-direction:row;
  position: fixed;
  width: 100%;  
  background-color: black;
  height: 10vh;
  top: 90vh;
  z-index:4;
}

.header-home {
  padding-left: 18vw;
  color: white;
  font-size: 8vh;
  padding-right: 2vw;
  curser: pointer;
}


.header-examples {
  color: white;
  font-size: 8vh;
  border-left: 1px solid white;
  padding-right: 2vw;
  padding-left: 2vw;
}


.header-contact {
  color: white;
  font-size: 8vh;
  border-left: 1px solid white;
  padding-right: 2vw;
  padding-left: 2vw;
}


.header-blog {
  color: white;
  padding-left: 2vw;
  font-size: 8vh;
  border-left: 1px solid white;
}
