.homepage-background {
  position: absolute;
  width: 100vw;
  height: auto;
  max-height: 100vh;
  z-index: 2;
  opacity: 0.2;
}

.techscope-header {
  position: absolute;
  color: black;
  z-index: 2;
  font-weight: 900;
  top: 35px;
  left: 35px;
  font-size: 50px;
  text-shadow: 1px 1px grey;
  letter-spacing: -7px;
}

.techscope-body {
  position: absolute;
  color: #660000;
  z-index: 3;
  font-weight: 900;
  top: 77px;
  left: 59px;
  font-size: 25px;
  text-shadow: 1px 1px #660000;
}

.techscope-paragraph {
  position: absolute;
  color: #808080;
  z-index: 3;
  font-weight: 900;
  top: 20vw;
  left: 34vw;
  font-size: 50px;
  text-shadow: 1px 1px #C0C0C0;
  text-align: center
}
.header-bar-home {
  position: static;
}
