
body {
  overflow-x: hidden;
}

.page-section {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.homepage-background {
  position: absolute;
  width: 100vw;
  height: auto;
  max-height: 100vh;
  z-index: 2;
  opacity: 0.2;
}

.techscope-header-container div{
  position: absolute;
}

.techscope-header {
  color: black;
  z-index: 2;
  font-weight: 900;
  top: 110px;
  left: 35px;
  font-size: 200px;
  text-shadow: 1px 1px grey;
  letter-spacing: -7px;
}

.techscope-body {
  color: #990000;
  z-index: 3;
  font-weight: 900;
  top: 284px;
  left: 376px;
  font-size: 75px;
  text-shadow: 1px 1px #990000;
letter-spacing: 4px
}

.techscope-paragraph {
  position: absolute;
  color: #808080;
  z-index: 3;
  font-weight: 900;
  top: 20vw;
  left: 34vw;
  font-size: 50px;
  text-shadow: 1px 1px #C0C0C0;
  text-align: center
}
.header-bar-home {
  position: static;
}

.homepage-background-second {
  position: absolute;
  right: 0;
  height: 100vh;
  z-index: 3;

}

.secondpage-paper {
  position: absolute;
  background-color: black;
  color: #dadada;
  min-width: 300px;
  width: 25%;
  height: 1000px;
  max-height: 60%;
  top: 25vh;
  left: 12vw;
  border: 1px solid grey;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  padding-left: 1vw;
  padding-right: 1vw;
  box-shadow: -8px 8px 6px #888888;
  opacity: .5;
}

.second {
  background-color: #dadada;
}

.third {
  background-color: red;
}

.home-about-picture {
  position: absolute;
  right: 0;
  min-height:100%;

}

.home-about-paper {
  position: absolute;
  top: 15vh;
  right: 7vw;
  background-color: black;
  width: 40vw;
  height: 70vh;
  border-radius: 3px;
  opacity: 0.5;
}

.home-about-paper-header {
  position: absolute;
  color: white;
  opacity: 1;
  top: 17vh;
  right: 23vw;
  font-size: 4vh;
  z-index: 8;
}

.home-about-paper-body {
  position: absolute;
  color: white;
  opacity: 1;
  font-size: 4vh;
  max-width: 30vw;
  right: 12vw;
  top: 35vh;
  z-index: 8;
  text-align: center;
}
