body {
  overflow-x: hidden;
}

.page-section {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.homepage-background {
  position: absolute;
  width: 100vw;
  height: auto;
  max-height: 100vh;
  z-index: 2;
  opacity: 0.2;
}

.techscope-header-container div{
  position: absolute;
}

.techscope-header {
  color: black;
  z-index: 2;
  font-weight: 900;
  top: 15vh;
  left: 2.4vw;
  font-size: 12.5rem;
  text-shadow: 1px 1px grey;
  letter-spacing: -.64rem;
}

.techscope-body {
  color: #990000;
  z-index: 3;
  font-weight: 900;
  top: 39vh;
  left: 24.6vw;
  font-size: 4.6rem;
  text-shadow: 1px 1px #990000;
  letter-spacing: .25rem;
}

.techscope-paragraph {
  position: absolute;
  color: #808080;
  z-index: 3;
  font-weight: 900;
  top: 20vw;
  left: 34vw;
  font-size: 3rem;
  text-shadow: 1px 1px #C0C0C0;
  text-align: center
}

.header-bar-home {
  position: static;
}

.homepage-background-second {
  position: absolute;
  right: 0;
  height: 100vh;
  z-index: 3;

}

.secondpage-paper {
  position: absolute;
  background-color: grey;
  color: #eeeeee;
  min-width: 300px;
  width: 25%;
  height: 1000px;
  max-height: 60%;
  top: 25vh;
  left: 12vw;
  border: 1px solid #C0C0C0;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  padding-left: 1vw;
  padding-right: 1vw;
  box-shadow: -2px 2px 6px #888888;
  text-shadow: 1px 1px grey;
}

.secondpage-paper p{
  text-size: 8vh;
}

.second {
  background-color: #dadada;
}

.third {
  background-color: red;
}

.home-about-picture {
  position: absolute;
  right: 0;
  min-height:100%;

}

.home-about-paper {
  position: absolute;
  top: 15vh;
  right: 7vw;
  background-color: black;
  width: 40vw;
  height: 70vh;
  border-radius: 3px;
  opacity: 0.5;
}

.home-about-paper-header {
  position: absolute;
  color: white;
  opacity: 1;
  top: 17vh;
  right: 19vw;
  font-size: 3rem;
  z-index: 2;
}

.home-about-paper-body {
  position: absolute;
  color: white;
  opacity: 1;
  font-size: 2rem;
  max-width: 30vw;
  right: 12vw;
  top: 35vh;
  z-index: 2;
  text-align: center;
}

.home-about-paper-white-1 {
  display: flex;
  position: absolute;
  top: 15vh;
  left: 10vw;
  width: 80vw;
  max-width: 400px;
  min-height: 100px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 4px 4px 2px #dd1919;
  flex-rap: wrap;
}

.home-about-paper-white-1-header {
  font-size: 2rem;
  margin-top: 0;
}


.home-about-paper-white-1-body {
  font-size: 1rem;
}

.home-about-paper-white-1-img {
  max-height: 100px;
  margin-top: 2vh;
  margin-left: 1vw;
}

.home-about-paper-white-2 {
  
}

.home-about-paper-white-3 {

}
