li{
  list-style: none;
}
  body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

ol li {
  list-style: initial;
  list-style-type: square;
}

ol > li {
  list-style: decimal;
}

h1 {
  text-shadow: 0 0 5px white;
}

@font-face {
  font-family: 'precious';
  src: url(font/precious.ttf) format('truetype');
}
